
.bui-select-list{
  background-color: #fff;
  border: 1px solid #ccc; // IE8 fallback
  border: 1px solid rgba(0,0,0,.15);;
  border-radius: @radius;
  .box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;

  ul{
    margin: 10px 0;
  }

  .bui-list-item{
    display: block;
    padding: 3px 20px;
    color: @grayDark;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }

  .bui-list-item-hover{
    text-decoration: none;
    color: darken(@grayDark, 5%);
    background-color: #f5f5f5;
  }

  .bui-list-item-selected{
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: @brandPrimary;
  }

  .bui-list-item-disabled{
    color: @grayLight;
    cursor: not-allowed;
  }
}

.bui-select{
  display: inline-block;
  .bui-select-input{
    // _border:1px solid @borderColor;
    // border-right:none;
    // vertical-align:middle;
    // outline: none;
    // _height:22px;
    // _padding:1px 4px;
    // width: 118px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    // border-right: none;
  }
  .x-icon{
    vertical-align:middle;
    cursor: pointer;
    height: 28px;
    width: 28px;
    border-left: none;
    .border-radius(0);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

/** list-checkbox **/
.x-checkbox{
  background: url("@{checkIconPath}") no-repeat 0px 0px transparent;
}

.x-radio{
  background: url("@{radioIconPath}") no-repeat 0 0 transparent;
}

.x-checkbox,.x-radio{
  width: 13px;
  height: 20px;
  *height: 17px;
  vertical-align: top;
  *vertical-align: baseline;
  margin-right: 5px;
  .inline-block();
}

.x-checkbox:hover,.x-radio:hover,.bui-list-item-hover .x-checkbox,.bui-list-item-hover .x-radio{
  background-position: -16px 0px;
}

.bui-list-item-selected .x-checkbox,.bui-list-item-selected .x-radio,.checked .x-checkbox{
  background-position: 0 -20px;
}

.bui-list-item-disabled .x-checkbox,.bui-list-item-disabled .x-radio{
  background-position: -48px 0px;
}

.bui-simple-list-disabled,.bui-list-item-selected.bui-list-item-disabled{

  .x-checkbox, .x-radio{
    background-position: -48px -20px;
  }
}

.bui-combox{
  border: 1px solid @borderColor;
  .form-control-focus();
  .border-radius(@radius);
  ul{
    .clearfix();
  }
  .bui-list-item{
    float: left;
    display: inline-block;
    float: left;
    margin: 4px;
    padding: 4px 8px;

    transition: color 200ms;
    -moz-transition: color 200ms; /* Firefox 4 */
    -webkit-transition: color 200ms; /* Safari 和 Chrome */
    -o-transition: color 200ms; /* Opera */
    .border-radius(@radius);

    background-color: @buttonInfoBg;
    color: @grayLighter;
    button{
      border: none;
      padding: 0;
      background: transparent;
      margin-left: 5px;
      cursor: pointer;
      color: @grayLighter;
    }
  }

  .bui-list-item-warn{
    background-color:  @buttonDangerBg;
  }

  .bui-list-item-active{
    background-color: @buttonWarningBg;
  }

  .bui-combox-input{
    border : none;
    .box-shadow(none);
  }

  .bui-combox-input:focus{
    border:none;
    outline: none;
    .box-shadow(none);
  }
}


.bui-tag-follow{
  .bui-simple-list{
    float: left;
  }
  
  .bui-combox-input{
    float: left;
    margin-top: 4px;
    width: 50px;
  }
}


