.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* inline block */
.bui-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*Mask*/
.lp-ext-mask,
.lp-el-mask,
.bui-ext-mask {
  height: 100%;
  left: 0;
  opacity: 0.25;
  filter: alpha(opacity=25);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1040;
  background-color: #333333;
}
.x-masked SELECT {
  _visibility: hidden;
}
.x-masked .bui-dialog SELECT {
  _visibility: visible;
}
.x-masked-relative {
  position: relative;
}
.lp-el-mask-msg,
.bui-ext-mask-msg {
  background: none repeat-x scroll 0 -16px #e8e9ef;
  border: 1px solid #c3c3d6;
  left: 0;
  padding: 2px;
  position: absolute;
  top: 0;
  z-index: 1050;
}
.lp-el-mask-msg div {
  border: 1px solid;
  cursor: wait;
  padding: 5px 10px;
  background-color: #ffffff;
  border-color: #c3c3d6;
  color: #333333;
}
.x-mask-loading div {
  background: none no-repeat scroll 5px 5px #ffffff;
  line-height: 16px;
  padding: 5px 10px 5px 25px;
  background-image: url("../img/load-16-16.gif");
}
.image-pbar button,
.bui-grid .bui-pagingbar button,
.image-pbar .bui-bar-item-button,
.bui-grid .bui-pagingbar .bui-bar-item-button,
.image-pbar .bui-pb-page,
.bui-grid .bui-pagingbar .bui-pb-page {
  background: url("../img/table-191-450.gif") no-repeat -999px -999px transparent;
  overflow: hidden;
}
.image-pbar button,
.bui-grid .bui-pagingbar button {
  height: 16px;
  width: 16px;
  margin: 0;
  text-indent: -100px;
  *text-indent: 0;
  *font-size: 0;
  border: none;
  overfow: hidden;
}
.image-pbar .bui-button-disabled,
.bui-grid .bui-pagingbar .bui-button-disabled {
  opacity: 1;
  filter: alpha(opacity=100);
}
.image-pbar .bui-pb-first button,
.bui-grid .bui-pagingbar .bui-pb-first button {
  background-position: 3px 2px;
}
.image-pbar .bui-pb-first .bui-button-disabled,
.bui-grid .bui-pagingbar .bui-pb-first .bui-button-disabled {
  background-position: 3px -18px;
}
.image-pbar .bui-pb-prev button,
.bui-grid .bui-pagingbar .bui-pb-prev button {
  background-position: -57px 2px;
}
.image-pbar .bui-pb-prev .bui-button-disabled,
.bui-grid .bui-pagingbar .bui-pb-prev .bui-button-disabled {
  background-position: -57px -18px;
}
.image-pbar .bui-pb-next button,
.bui-grid .bui-pagingbar .bui-pb-next button {
  background-position: -37px 2px;
}
.image-pbar .bui-pb-next .bui-button-disabled,
.bui-grid .bui-pagingbar .bui-pb-next .bui-button-disabled {
  background-position: -37px -18px;
}
.image-pbar .bui-pb-last button,
.bui-grid .bui-pagingbar .bui-pb-last button {
  background-position: -17px 2px;
}
.image-pbar .bui-pb-last .bui-button-disabled,
.bui-grid .bui-pagingbar .bui-pb-last .bui-button-disabled {
  background-position: -17px -18px;
}
.image-pbar .bui-bar-item,
.bui-grid .bui-pagingbar .bui-bar-item {
  outline: none;
  margin: 0 2px;
  vertical-align: middle;
}
.image-pbar .bui-bar-item-button,
.bui-grid .bui-pagingbar .bui-bar-item-button {
  padding: 1px;
}
.image-pbar .bui-bar-item-button-hover,
.bui-grid .bui-pagingbar .bui-bar-item-button-hover {
  background-position: -130px 2px;
}
.image-pbar .bui-bar-item-button-disabled,
.bui-grid .bui-pagingbar .bui-bar-item-button-disabled {
  background-position: -999px -999px;
}
.image-pbar .bui-pb-page,
.bui-grid .bui-pagingbar .bui-pb-page {
  color: #9d261d;
  font: 11px tahoma, arial, verdana, sans-serif;
  height: 14px;
  margin: 0;
  width: 20px;
  vertical-align: baseline;
  *vertical-align: middle;
  background-color: white;
  padding: 0 2px;
}
.image-pbar .bui-bar-item-text,
.bui-grid .bui-pagingbar .bui-bar-item-text {
  vertical-align: middle;
}
.image-pbar .bui-pb-skip,
.bui-grid .bui-pagingbar .bui-pb-skip {
  background-position: -999px -999px;
}
.image-pbar .bui-pb-skip button,
.bui-grid .bui-pagingbar .bui-pb-skip button {
  text-indent: 0;
  background-position: -80px -20px;
  height: 20px;
  font-size: 11px;
  width: 41px;
}
.image-pbar .bui-pb-skip button:hover,
.bui-grid .bui-pagingbar .bui-pb-skip button:hover {
  background-position: -150px -20px;
}
.image-pbar .bui-bar-item-separator,
.bui-grid .bui-pagingbar .bui-bar-item-separator {
  margin: 0 5px;
}
.pagination .bui-bar-item {
  float: left;
  margin: 0;
}
.pagination .disabled {
  _background-color: #ffffff;
}
.pagination .disabled a:hover {
  text-decoration: none;
}
.bar-btn-add,
.bar-btn-del,
.bar-btn-edit,
.bar-btn-close,
.bar-btn-import,
.bar-btn-export,
.bar-btn-save,
.bar-btn-create,
.bui-bar-item-separator {
  background: url("../img/table-191-450.gif") no-repeat -999px -999px transparent;
}
.bui-bar-item-separator {
  height: 14px;
  margin: 0 3px 0 2px;
  width: 2px;
  background-position: -80px 0;
  vertical-align: middle;
}
.bui-grid-button-bar {
  float: left;
}
.bui-grid-button-bar .bui-bar-item {
  margin-right: 10px;
}
.bui-grid-button-bar .bar-btn-add,
.bui-grid-button-bar .bar-btn-edit,
.bui-grid-button-bar .bar-btn-del,
.bui-grid-button-bar .bar-btn-close,
.bui-grid-button-bar .bar-btn-import,
.bui-grid-button-bar .bar-btn-export,
.bui-grid-button-bar .bar-btn-save,
.bui-grid-button-bar .bar-btn-create {
  padding-left: 18px;
}
.bui-grid-button-bar .bar-btn-edit {
  background-position: 2px -307px;
}
.bui-grid-button-bar .bar-btn-add {
  background-position: -48px -137px;
}
.bui-grid-button-bar .bar-btn-del {
  background-position: 2px -247px;
}
.bui-grid-button-bar .bar-btn-close {
  background-position: -48px -157px;
}
.bui-grid-button-bar .bar-btn-import {
  background-position: 2px -187px;
}
.bui-grid-button-bar .bar-btn-export {
  background-position: 2px -217px;
}
.bui-grid-button-bar .bar-btn-save {
  background-position: 2px -277px;
}
.bui-grid-button-bar .bar-btn-create {
  background-position: 2px -307px;
}
.bui-grid-button-bar .button-small [class^="icon-"] {
  margin: -2px 2px 0 -5px;
}
.x-editor-tips {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e5a098;
  background-color: #ffffff;
  padding: 4px;
}
.bui-editor {
  z-index: 1080;
}
.bui-record-editor {
  padding: 3px 0 3px 3px;
  border: 1px solid #c3c3d6;
  background-color: white;
}
.bui-record-editor .button {
  *margin-top: 5px;
}
.bui-record-editor .bui-bar {
  width: 150px;
  position: absolute;
  left: 40%;
  background-color: white;
  border: 1px solid #c3c3d6;
  border-top: none;
  border-radius: 0 0 3px 3px;
  bottom: -37px;
}
.bui-record-editor .bui-form-field {
  padding-right: 3px;
}
.bui-record-editor .x-form-text {
  background-color: #ffffff;
  display: inline-block;
  height: 18px;
  padding: 1px 4px;
  border: 1px solid #c3c3d6;
}
.bui-editor .bui-form-check-field {
  background-color: #ffffff;
  text-align: center;
}
.bui-editor .bui-form-check-field input {
  vertical-align: middle;
}
.bui-simple-list-focused {
  outline: none;
}
.bui-grid-table .sort-asc .bui-grid-sort-icon,
.bui-grid-table .sort-desc .bui-grid-sort-icon,
.bui-grid-table .bui-grid-hd-menu-trigger,
.bui-grid-table .bui-grid-cascade-icon {
  background-image: url("../img/table-191-450.gif");
  background-repeat: no-repeat;
}
.bui-simple-grid .bui-grid-table {
  border: 1px solid #dddddd;
}
.bui-drag-line {
  position: absolute;
  border-left: 1px solid #ccc;
}
.bui-grid-header {
  border-top: 1px solid #dddddd;
  *height: 25px;
}
.bui-grid-group-header {
  *height: 51px;
}
.bui-grid-group-header .bui-grid-hd-empty {
  display: none;
}
.bui-grid-body,
.bui-grid-height .bui-grid-body .bui-grid-table {
  border-bottom: 1px solid #dddddd;
}
.bui-grid-body,
.bui-grid-header {
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.bui-grid-header {
  overflow: hidden;
  *position: relative;
}
.bui-grid-header .table {
  margin: 0;
}
.bui-grid-header .bui-grid-table {
  *position: absolute;
  *top: 0;
  *left: 0;
  *z-index: 100;
}
.bui-grid-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.bui-grid,
.bui-simple-grid {
  /*width:100%;    */

  background-color: #ffffff;
}
.bui-grid th.left,
.bui-simple-grid th.left,
.bui-grid td.left,
.bui-simple-grid td.left {
  text-align: left;
}
.bui-grid th.right,
.bui-simple-grid th.right,
.bui-grid td.right,
.bui-simple-grid td.right {
  text-align: right;
}
.bui-grid th.center,
.bui-simple-grid th.center,
.bui-grid td.center,
.bui-simple-grid td.center {
  text-align: center;
}
.bui-grid-border .bui-grid-hd,
.bui-grid-border .bui-grid-cell,
.bui-grid-border .bui-grid-header-row td {
  border-left: 1px solid #c5c5c5;
}
.bui-grid-border .bui-grid-cell-empty,
.bui-grid-border .bui-grid-hd-empty {
  border-left: none;
}
.bui-grid-header-row td,
.bui-grid-header-row th {
  padding: 0;
  margin: 0;
}
th.bui-grid-hd-empty,
td.bui-grid-cell-empty {
  padding: 0;
  margin: 0;
  border-left: none;
}
.bui-grid-table {
  /* row */

}
.bui-grid-table .bui-grid-hd {
  border-bottom: 1px solid #c5c5c5;
  text-align: left;
  cursor: default;
}
.bui-grid-table tr td:first-child,
.bui-grid-table tr th:first-child {
  border-left-width: 0;
}
.bui-grid-table .bui-grid-hd-inner {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -ms-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -o-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: linear-gradient(top, #ffffff, #e4e4e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
}
.bui-grid-table .bui-grid-hd-inner {
  height: 24px;
  overflow: hidden;
  font-weight: normal;
  background-position: 0 0;
  position: relative;
}
.bui-grid-table .bui-grid-db-hd .bui-grid-hd-inner {
  padding: 12px 0 13px;
}
.bui-grid-table .bui-grid-hd-title {
  line-height: 22px;
  font-size: 12px;
  padding: 0 4px 0 4px;
}
.bui-grid-table .bui-grid-sort-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 15px;
  width: 15px;
}
.bui-grid-table .bui-grid-hd-menu-trigger {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
  height: 24px;
  background-position: 0 -140px;
}
.bui-grid-table th.sortable {
  cursor: pointer;
}
.bui-grid-table .bui-grid-hd-hover .bui-grid-hd-inner,
.bui-grid-table .bui-grid-hd-open .bui-grid-hd-inner {
  background-color: #e0e6fc;
  background-image: -moz-linear-gradient(top, #e0e6fc, #e0e6fc);
  background-image: -ms-linear-gradient(top, #e0e6fc, #e0e6fc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e0e6fc), to(#e0e6fc));
  background-image: -webkit-linear-gradient(top, #e0e6fc, #e0e6fc);
  background-image: -o-linear-gradient(top, #e0e6fc, #e0e6fc);
  background-image: linear-gradient(top, #e0e6fc, #e0e6fc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e6fc', endColorstr='#e0e6fc', GradientType=0);
}
.bui-grid-table .bui-grid-hd-hover .bui-grid-hd-menu-trigger,
.bui-grid-table .bui-grid-hd-open .bui-grid-hd-menu-trigger {
  display: block;
}
.bui-grid-table .sort-asc .bui-grid-sort-icon {
  background-position: 5px -52px;
}
.bui-grid-table .sort-asc:hover .bui-grid-sort-icon {
  background-position: 5px -92px;
}
.bui-grid-table .sort-desc .bui-grid-sort-icon {
  background-position: 5px -72px;
}
.bui-grid-table .sort-desc:hover .bui-grid-sort-icon {
  background-position: 5px -112px;
}
.bui-grid-table .grid-header-checked-column,
.bui-grid-table .bui-grid-row-checked-column {
  text-align: center;
  width: 30px;
  vertical-align: middle;
  border-left-width: 0;
}
.bui-grid-table .grid-header-checked-column .bui-grid-hd-inner,
.bui-grid-table .bui-grid-row-checked-column .bui-grid-cell-inner {
  width: 30px;
}
.bui-grid-table .bui-grid-cell {
  overflow: hidden;
  border-top: 1px solid #ededed;
}
.bui-grid-table .bui-grid-row-group td {
  border-top: 1px solid #ededed;
}
.bui-grid-table .bui-grid-cell-empty {
  border-top: 1px solid #ededed;
}
.bui-grid-table .bui-grid-body .bui-grid-row-first td {
  border-top: none;
}
.bui-grid-table .bui-grid-body .bui-grid-table {
  border-bottom: 1px solid #ededed;
}
.bui-grid-table .bui-grid-header-row .bui-grid-cell-empty {
  line-height: 0;
  border: none;
}
.bui-grid-table .bui-grid-cell-inner {
  padding: 2px 0;
  position: relative;
  overflow: hidden;
}
.bui-grid-table .bui-grid-cell-text {
  padding: 0 4px;
  display: block;
  min-height: 20px;
  min-width: 25px;
  _height: 20px;
}
.bui-grid-table .bui-grid-error-cell .bui-grid-cell-text {
  padding-right: 20px;
}
.bui-grid-table .bui-grid-error-cell {
  position: relative;
}
.bui-grid-table .bui-grid-cell,
.bui-grid-table .bui-grid-cell-empty {
  word-break: break-all;
  word-wrap: break-word;
}
.bui-grid-table .grid-command {
  color: #3366cc;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}
.bui-grid-table .grid-command:hover {
  color: #ff6600;
}
.bui-grid-table .grid-command.disable {
  color: #ccc;
}
td.bui-grid-cell-empty {
  height: 0;
  line-height: 0;
}
.bui-grid-width .bui-grid-body {
  overflow-x: auto;
  overflow-y: hidden;
}
.bui-grid-height .bui-grid-body {
  overflow-x: auto;
  overflow-y: scroll;
  position: relative;
}
/**stripe**/
.bui-grid-strip .bui-grid-row-odd {
  background-color: #ffffff;
}
.bui-grid-strip .bui-grid-row-even {
  background-color: #fafafa;
}
.bui-simple-grid .bui-grid-table .bui-grid-row-hover,
.bui-grid .bui-grid-table .bui-grid-row-hover {
  background-color: #dee5ff;
}
.bui-simple-grid .bui-grid-table .bui-grid-row-selected,
.bui-grid .bui-grid-table .bui-grid-row-selected {
  background-color: #ccd7ff;
}
/**grid-bar**/
.bui-grid .bui-pagingbar {
  float: right;
  margin: 3px 0 0;
}
.bui-grid-tbar,
.bui-grid-bbar {
  *zoom: 1;
}
.bui-grid-tbar:before,
.bui-grid-bbar:before,
.bui-grid-tbar:after,
.bui-grid-bbar:after {
  display: table;
  content: "";
}
.bui-grid-tbar:after,
.bui-grid-bbar:after {
  clear: both;
}
.bui-grid-tbar {
  height: 34px;
  line-height: 34px;
}
.bui-grid-bbar {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -ms-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -o-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: linear-gradient(top, #ffffff, #e4e4e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
  border: 1px solid #dddddd;
  border-top: none;
}
.bui-grid-radio-container,
.bui-grid-checkBox-container {
  text-align: center;
}
.bui-grid .x-grid-checkbox {
  background: url("../img/check_icon-100-100.gif") no-repeat 0px 3px transparent;
  width: 13px;
  height: 20px;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.x-grid-checkbox:hover {
  background-position: -16px 3px;
}
.bui-grid-row-selected .x-grid-checkbox,
.checked .x-grid-checkbox {
  background-position: 0 -18px;
}
.bui-grid-row-disabled .x-grid-checkbox {
  background-position: -48px 3px;
}
.bui-grid-row-selected.bui-grid-row-disabled .x-grid-checkbox {
  background-position: -48px -18px;
}
.bui-grid-cascade {
  vertical-align: middle;
}
.bui-grid-cascade-icon {
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 10px;
  width: 10px;
  background-position: 0 -440px;
}
.bui-grid-cascade-expand .bui-grid-cascade-icon {
  background-position: -30px -440px;
}
.bui-grid-cascade-collapse {
  display: none;
}
.grid-column-menu .bui-menu-item-selected .icon {
  background-position: -144px -72px;
}
.bui-grid-cell-error {
  position: absolute;
  right: 10px;
  top: 6px;
}
.bui-grid-header .table {
  height: auto;
}
.bui-grid-summary-row {
  font-weight: bold;
}
.bui-grid-summary-row:first-child td {
  border-top: 1px solid #c5c5c5;
}
td.x-grid-rownumber {
  background-color: #e4e4e4;
  background-image: -moz-linear-gradient(left, #ffffff, #e4e4e4);
  background-image: -ms-linear-gradient(left, #ffffff, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ffffff), to(#e4e4e4));
  background-image: -webkit-linear-gradient(left, #ffffff, #e4e4e4);
  background-image: -o-linear-gradient(left, #ffffff, #e4e4e4);
  background-image: linear-gradient(left, #ffffff, #e4e4e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=1);
  text-align: center;
}
.bui-grid {
  font-family: tahoma, arial, "SimSun", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}
.x-editor-tips {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e5a098;
  background-color: #ffffff;
  padding: 4px;
}
.bui-editor {
  z-index: 1080;
}
.bui-record-editor {
  padding: 3px 0 3px 3px;
  border: 1px solid #c3c3d6;
  background-color: white;
}
.bui-record-editor .button {
  *margin-top: 5px;
}
.bui-record-editor .bui-bar {
  width: 150px;
  position: absolute;
  left: 40%;
  background-color: white;
  border: 1px solid #c3c3d6;
  border-top: none;
  border-radius: 0 0 3px 3px;
  bottom: -37px;
}
.bui-record-editor .bui-form-field {
  padding-right: 3px;
}
.bui-record-editor .x-form-text {
  background-color: #ffffff;
  display: inline-block;
  height: 18px;
  padding: 1px 4px;
  border: 1px solid #c3c3d6;
}
.bui-editor .bui-form-check-field {
  background-color: #ffffff;
  text-align: center;
}
.bui-editor .bui-form-check-field input {
  vertical-align: middle;
}
.bui-hidden {
  display: none;
}
