.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* inline block */
.bui-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.bui-menu {
  list-style: none;
  margin: 0;
}
.bui-menu .bui-menu-item {
  cursor: pointer;
}
.bui-side-menu {
  height: 100%;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 3px;
}
.bui-side-menu .bui-menu-title,
.bui-side-menu .bui-menu-title s,
.bui-side-menu .menu-leaf a,
.bui-side-menu .menu-leaf em {
  background: url("../img/menu-500-188.png") -9999px -9999px no-repeat;
}
.bui-side-menu a {
  color: #5c637b;
  cursor: pointer;
  outline: none;
}
.bui-side-menu a:hover {
  color: #414da7;
  text-decoration: none;
}
.bui-side-menu a:active {
  color: #5c637b;
}
.bui-side-menu .bui-menu-item-collapsed .bui-menu {
  display: none;
}
.bui-side-menu .bui-menu-item-collapsed .bui-menu-title s {
  background-position: 0 -30px;
}
.bui-side-menu .menu-leaf {
  outline: 0;
  line-height: 20px;
}
.bui-side-menu .menu-leaf a {
  height: 20px;
  text-indent: 24px;
  overflow: hidden;
  margin-bottom: 5px;
  display: block;
}
.bui-side-menu .menu-leaf a em {
  display: block;
  margin: 0 1px;
  font-style: normal;
  text-align: left;
  overflow: hidden;
  height: 19px;
  line-height: 22px;
  _line-height: 20px;
}
.bui-side-menu .bui-menu-item-selected a {
  color: #ffffff;
  background-position: 0 -130px;
}
.bui-side-menu .bui-menu-item-selected a em {
  background-position: right -100px;
}
.bui-side-menu .menu-second {
  padding-top: 1px;
  outline: 0;
  cursor: pointer;
}
.bui-side-menu .menu-second .bui-menu {
  margin-top: 5px;
}
.bui-side-menu .bui-menu-title-text {
  float: left;
  overflow: hidden;
  height: 14px;
  line-height: 14px;
  display: block;
  _margin-top: -2px;
}
.bui-side-menu .bui-menu-title {
  margin: 0 1px;
  background-position: 0 15px;
  height: 17px;
  color: #636775;
  font-weight: bold;
  overflow: hidden;
  line-height: 25px;
  vertical-align: middle;
  padding: 8px 0 5px 5px;
}
.bui-side-menu .bui-menu-title s {
  width: 10px;
  height: 10px;
  overflow: hidden;
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 1px;
  background-position: 0 -71px;
}
.bui-pop-menu {
  border: 1px solid #c3c3d6;
  background-color: #ffffff;
  padding: 2px 0;
  position: absolute;
}
.bui-pop-menu .bui-menu-item {
  padding: 3px 15px;
}
.bui-pop-menu .bui-menu-item-hover {
  background-color: #3366cc;
  color: #ffffff;
}
.bui-context-menu {
  position: absolute;
  border: 1px solid #c3c3d6;
  background-color: #e8e9ef;
  padding: 2px;
  z-index: 1100;
  background: url("../img/separator-2-340.gif") repeat-y 28px 0 #e8e9ef;
}
.bui-context-menu .bui-menu-item {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.bui-context-menu .bui-menu-item .x-caret {
  position: absolute;
  right: 10px;
  top: 10px;
}
.bui-context-menu .bui-menu-item-sparator {
  border-top: 1px solid #c3c3d6;
  height: 1px;
  background-color: white;
  margin-left: 27px;
}
.bui-context-menu .bui-menu-item-link {
  cursor: default;
  display: block;
  *zoom: 1;
  width: 134px;
  height: 24px;
  margin: 1px;
  padding: 0 2px;
  text-decoration: none;
  border: 1px solid transparent;
  _border-color: tomato;
  _filter: chroma(color=#ff6347);
}
.bui-context-menu .bui-menu-item-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16px;
  height: 16px;
  margin: 0 11px 0 2px;
  border: 0 solid white;
}
.bui-context-menu .bui-menu-item-hover {
  background-color: #e8e9ef;
}
.bui-context-menu .bui-menu-item-open .bui-menu-item-link,
.bui-context-menu .bui-menu-item-hover .bui-menu-item-link {
  background-color: #E0E6FC;
  border: 1px solid #A9B9F5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
}
.bui-context-menu .bui-menu-item-text {
  color: #333333;
  font-size: 11px;
  _font-size: 12px;
  line-height: 20px;
  *zoom: 1;
}
.bui-context-menu .bui-menu-item-disabled {
  outline: none;
}
.bui-context-menu .bui-menu-item-disabled .bui-menu-item-text {
  color: #999999;
}
.bui-context-menu .bui-menu-item-disabled .bui-menu-item-icon {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.bui-menu {
  font-family: tahoma, arial, "SimSun", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
}
.bui-side-menu a {
  text-decoration: none;
}
